OPENSEARCH_JAVA_OPTS="-Xms512m -Xmx512m"

GRAYLOG_ENTRYPOINT="/usr/bin/tini -- wait-for-it opensearch:9200 --  /docker-entrypoint.sh"
GRAYLOG_MESSAGE_JOURNAL_MAX_SIZE=5gb
GRAYLOG_NODE_ID_FILE=/usr/share/graylog/data/config/node-id
# You MUST set a secret to secure/pepper the stored user passwords here. Use at least 64 characters.
# Generate one by using for example: pwgen -N 1 -s 96
# ATTENTION: This value must be the same on all Graylog nodes in the cluster.
# Changing this value after installation will render all user sessions and encrypted values in the database invalid. (e.g. encrypted access tokens)
GRAYLOG_PASSWORD_SECRET="DekmfeIJei33dJDENEnedk"

# You MUST specify a hash password for the root user (which you only need to initially set up the
# system and in case you lose connectivity to your authentication backend)
# This password cannot be changed using the API or via the web interface. If you need to change it,
# modify it in this file.
# Create one by using for example: echo -n yourpassword | shasum -a 256
# and put the resulting hash value into the following line
# CHANGE THIS!
##DekmfeIJei33dJDENEnedk
GRAYLOG_ROOT_PASSWORD_SHA2="da5706ec0ea794e7acd2de0675a7a6eae379d188e04cab40cd6234a66cc63b87"
GRAYLOG_HTTP_BIND_ADDRESS=0.0.0.0:9000


GRAYLOG_HTTP_EXTERNAL_URI=http://localhost:9000/
GRAYLOG_ELASTICSEARCH_HOSTS=http://opensearch:9200
GRAYLOG_MONGODB_URI=mongodb://mongodb:27017/graylog